body{
    width: 1900px;
    height: auto;
}

#HeadLine{
    width: auto;
    height: 65px;
    background-color: white;
}

#hlLogo{
    width: 135px;
    height: 50px;
    margin: auto;
    overflow: hidden;
}


#Main{
    width: auto;
    height: 800px;
    background-color: white;
}

#login{
    width: 400px;
    height: 600px;
    margin: 40px auto;

    text-align: center;
    font-size: 16px;
}

#login_email{
    width: 400px;
    height: 30px;
    margin-top: 30px;
    
}

#login_password{
    width: 400px;
    height: 30px;
    margin-top: 15px;
    
}

#signInEmail{
    width: 380px;
    height: 30px;

    font-size: 13px;
    
}

#signInPassword{
    width: 380px;
    height: 30px;

    font-size: 13px;
    
}

#staylogin{
    width: 400px;
    height: 30px;
    margin-top: 30px;
    
    text-align: left;
   

}

input[type="checkbox"]{
    width: 20px;
    height: 20px; 
    margin-top: 5px;
    }

#findpassWord{
    width: 90px;
    height: 30px;
    float: right;

    font-size: 13px;
    line-height: 30px;
}

#loginButton{
    width: 400px;
    height: 30px;
    margin-top: 25px;
}

#signInButton{
    width: 380px;
    height: 40px;
    background-color: black;
    color: white;

    border-radius: 25px;

    
}

#signUp{
    width: 400px;
    height: 120px;
    
    border : solid 1px gray;
    
    margin-top: 80px;

    text-align: center;
    line-height: 30px;

    
}

#signUp > a{
    font-size: 12px;
}

#signUpButton{
    width: 200px;
    height: 40px;
    margin-top: 10px;
}
   